SQ_APP_BASE_URL = https:/$()/signalquest.fr
SQ_API_BASE_URL = https:/$()/api.signalquest.fr
SQ_SPEEDTEST_BASE_URL = https:/$()/speedtest.signalquest.fr
SQ_SPEEDTEST_DOWNLOAD_URL = https:/$()/speedtest.signalquest.fr/download
SQ_SPEEDTEST_CLOUDFRONT_DOWNLOAD_URL = https:/$()/d2d31ihf1e95ah.cloudfront.net/1000MB.bin
SQ_SPEEDTEST_CLOUDFLARE_DOWNLOAD_URL = https:/$()/dl.signalquest.fr/speedtest/300MB.bin
SQ_DEBUG_LOGS = YES
SQ_APS_ENVIRONMENT = development
SQ_ENVIRONMENT = development
SQ_DISPLAY_NAME = SignalQuest
SQ_APP_GROUP = group.fr.signalquest.ios
SQ_ASSOCIATED_DOMAIN = webcredentials:signalquest.fr
SQ_URL_SCHEME = signalquest
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG
