SQ_APP_BASE_URL = https:/$()/signalquest.fr
SQ_API_BASE_URL = https:/$()/signalquest.fr
SQ_SPEEDTEST_BASE_URL = https:/$()/speedtest.signalquest.fr
SQ_SPEEDTEST_DOWNLOAD_URL = https:/$()/speedtest.signalquest.fr/download
SQ_SPEEDTEST_CLOUDFRONT_DOWNLOAD_URL = https:/$()/d2d31ihf1e95ah.cloudfront.net/1000MB.bin
SQ_DEBUG_LOGS = YES
SQ_APS_ENVIRONMENT = development
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG STAGING
